<!DOCTYPE html>
<html>
  <head>
    <title>SiteNoticias</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/avisos" %>
    <% if logged_in? %>
      <p>
        Olá <%= current_user.nome %>!
        <%= link_to "Logout", logout_path, method: :delete %>
      </p>
    <% end %>
    <p><%= link_to "Feed", feed_path %></p>
    <p><%= link_to "Cadastre-se", new_usuario_path %></p>
    <%= yield %>
  </body>
</html>
